.Home-container-wrapper{

  
  width: 72%;
  height: 98vh;
  margin-left: 287px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.home-container{
    width: 80%;
    height: 90vh;
    border: solid white 1px;
    border-radius: 10px;

}

@media only screen and (max-width: 600px) {
    .Home-container-wrapper{
        margin-left: 0;
        width: 100vw;
  
    }
    .home-container{
        width: 92%;
        height: calc(100vw - -183px);
        margin-top: 49px;
    }
  }

  @media only screen and (max-width: 377px) and (min-width: 350px){
    .home-container{
      
      margin-top: 46px;
      
    }
  }
