.main-container
{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.container{
    height: fit-content;
    width: 500px;
    
    border: solid white 1px;
  padding: 0px;
  border-radius: 10px;
  margin: 10px;
    
}
.padding20px
{
    padding: 20px;
}
.topic-name{

}

.Code{

}

.explanation{

}

.youtube-links
{

}

.code-body{
    border-radius: 10px;
}

.first-section{
    display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}



@media only screen and (max-width: 600px) {
   .container{
    width: 98%;
   }
  }


